# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database files
*.db
*.sqlite
*.sqlite3

# Flask & Celery
instance/
.webassets-cache
celerybeat-schedule
celerybeat.pid

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE Files
.vscode/
.idea/
.spyderproject
.ropeproject

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary & backup files
*.tmp
*.bak
*.swp
*~
