<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student registration</title>
</head>
<body>
    <h1>Please do registration</h1>
    <form action="/Addstudent" method="post">
        enter name: <input type="text" name="myname" id="" required> <br><br>
        enter age: <input type="number" name="myage" id="" required> <br><br>
        enter marks: <input type="number" name="mymarks" id="" required> <br><br>
        enter city: <input type="text" name="mycity" id="" required> <br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
