<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document - HTML Table Example</title>
</head>
<body>
    <h2>Student Records Sample Table</h2>
    <table border="1" style="border-collapse: collapse; width: 50%; text-align: center;">
        <tr style="background-color: #f2f2f2;">
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>raju</td>
            <td>24</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ramu</td>
            <td>25</td>
        </tr>
    </table>
</body>
</html>
